/* General Site properties*/

a {
    color:inherit;
    text-decoration:inherit;
    text-decoration:none;
}



a img {
    outline:none;
    border:none;
}

hr {
    background-color:#f0f0f0;
    border:0;
    height:1px;
    margin:0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin:0 auto;
    font-weight: bold;
}

h3{
    padding: 5px;
    margin:0 auto;
}

h4{
    margin: 0 auto;
    padding: 6.6px;
}

span a {
    text-decoration:none;
}


body {
    left:0;
    margin: 0;
    min-width:900px;
    position:absolute;
    top:0;
    width:100%;
    font-family:Georgia,serif;
    height:100%;
    background-image: url("../img/background.png");


}

span a {
    text-decoration:none;
}

ul {
    padding: 0;
    margin: 0;

    list-style: none;
}

ul > li {
    font-size: 15pt;
    text-shadow: 0px 1px black;

}

/* Wrappers */

#wrapper{
    position: absolute;
    width: 100%;
    font-family: Arial;
    height:100%;

}

#content {

    height:100%;
    margin:0 auto;
    padding:5px;
    width:900px;
   /* background-color: white;*/

}

/*Header Properties */
header{

    height:92px;
    left:50%;
    margin-left: -450px;
    position: relative;
    width:900px;
}

#header-logo {
    float:left;
    margin-top:6px;
    width:63px;
}

#header-title {
    position: absolute;
    color:#3c3c3c;
    font-size:19pt;
    margin-left:18px;
    margin-top:11px;
}

#dateText {
    margin-top: 38px;
    position: absolute;
    font-size: 11pt;
    color: #3c3c3c;
    margin-left:20px;
}

#weekText {
    margin-top: 56px;
    position: absolute;
    font-size: 11pt;
    color: #3c3c3c;
    margin-left:20px;
}

/*Nav*/

#nav
{
    float: right;
    margin-top:23px;
    height:40px;
    vertical-align:middle;
    color:#505050;
}
#nav > a
{
    display: none;
}
#nav li
{
    height:40px;
    line-height:40px;
    color:#505050;
    display:block;
    float:left;
    font-size:21px;
    cursor:pointer;
    margin-left:0;
    margin-right:25px;
}

/* first level */

#nav > ul
{
    height: 3.75em;
}
#nav > ul > li
{
    height:40px;
    line-height:40px;
    color:#505050;
    display:block;
    float:left;
    font-size:21px;
    cursor:pointer;
    margin-left:0;
    margin-right:25px;
}

/* second level */

#nav li ul
{
    display: none;
    position: absolute;
    top: 100%;
}
#nav li:hover ul
{
    display: block;
}

@media only screen and ( max-width: 40em ) /* 640 */
{
    #nav
    {
        position: relative;
    }
    #nav > a
    {
    }
    #nav:not( :target ) > a:first-of-type,
    #nav:target > a:last-of-type
    {
        display: block;
    }

    /* first level */

    #nav > ul
    {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
    #nav:target > ul
    {
        display: block;
    }
    #nav > ul > li
    {
        height:40px;
        line-height:40px;
        color:#505050;
        display:block;
        float:left;
        font-size:21px;
        cursor:pointer;
        margin-left:0;
        margin-right:25px;
    }

    /* second level */

    #nav li ul
    {
        position: static;
    }
}

/*Menu Items*/
.items{
    padding: 3px ;
    margin: 4px  ;
    width: 23%;
    display: block;
    float: left;
    border: 1px solid #f0f0f0;

    background-color: white;
}

.item-img {
    margin: auto;
    display: block;

}


/*
footer{
    height: 30px;
    width:100%;
    background-color: #888888;
}



