/* General Site properties*/

a {
    color:inherit;
    text-decoration:inherit;
    text-decoration:none;
}



a img {
    outline:none;
    border:none;
}

hr {
    background-color:#f0f0f0;
    border:0;
    height:1px;
    margin:0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin:0 auto;
    font-weight: bold;
}

h3{
    padding: 5px;
    margin:0 auto;
}

h4{
    margin: 0 auto;
    padding: 6.6px;
}

span a {
    text-decoration:none;
}


body {
    left:0;
    margin: 0;

    position:absolute;
    top:0;
    width:100%;
    font-family:Georgia,serif;
    height:100%;
    background-image: url("../img/background.png");


}

span a {
    text-decoration:none;
}

ul {
    padding: 0;
    margin: 0;

    list-style: none;
}

ul > li {
    font-size: 15pt;
    text-shadow: 0px 1px black;

}

/* Wrappers */

#wrapper{
    position: absolute;
    width: 100%;
    font-family: Arial;
    height:100%;

}

#content {

    height:100%;
    margin:0 auto;
    padding:5px;
    width:100%;
   /* background-color: white;*/

}

/*Header Properties */
header{

    height:92px;


}

#header-logo {
    float:left;
    margin-top:6px;
    width:63px;

}

#header-title {
    position: absolute;
    color:#3c3c3c;
    font-size:19pt;
    margin-left:18px;
    margin-top:11px;
}

#dateText {
    margin-top: 38px;
    position: absolute;
    font-size: 11pt;
    color: #3c3c3c;
    margin-left:20px;
}

#weekText {
    margin-top: 56px;
    position: absolute;
    font-size: 11pt;
    color: #3c3c3c;
    margin-left:20px;
}

/*Nav*/

    /*Drop Down*/

    /* Dropdown Button */
    .dropbtn{
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}

    /* Show the dropdown */
    .show {display:block;}

/*Menu Items*/
.items{
    padding: 3px ;
    margin: 4px  ;
    width: 215px;
    display: inline-block;
    float: left;
    border: 1px solid #f0f0f0;
    vertical-align: middle;

    background-color: white;
}

.item-img {
    margin: auto;
    display: block;

}

/*
footer{
    height: 30px;
    width:100%;
    background-color: #888888;
}



